{% load url from future %}

<script language="javascript">

(function(window, document) {
    var j = window.djdt.jQuery;
    j(document).ready(function() {
      j('#djDebug .djDebugUserPanel').click(function () {
        var target = j('#djDebugUserPanel div.target');

        // Only load data once
        if (target.children().length) {
          return;
        }

        target.load('{% url "debug-userpanel" %}?next=' + escape(location.href));
      });
    });
})(window, document);

</script>

<style type="text/css">

#djDebug #djDebugUserPanel ul button
{
  border: none;
  cursor: pointer;
  background: none;
}

#djDebug #djDebugUserPanel th
{
  text-align: left;
}

#djDebug #djDebugUserPanel td
{
  white-space: nowrap;
}
</style>

<div class="target"></div>
